#group_image{
    height: 300px;
    width: 100%;
    background: FireBrick;
}

.info{
    background: #01696C;
    height: 300px;
    width: 85%;
    color:#F8F8F2;
    margin: 0 7.5%;

}


.navbar {
    margin-bottom: 0px;
    z-index: 2;
}

body{
    background-color: #18171C;
}

h1{
    margin-top: 0;
    padding-top: 20px
}

h2 {
    margin-top: 0;
    padding-top: 10px;
    padding-left: 5px;
}